<dsfa>
  <databaseConnection>
    <host>servername:serverhost</host>
    <database>databasename</database>
    <username>username</username>
    <password>password</password>
  </databaseConnection>

  <admin>
  	<username>omar</username>
  	<password>test1234</password>
  </admin>
</dsfa>